*{
    box-sizing: border-box;
}

body{
    background-color: #e6e6ff;
    overflow: hidden;
}

.login-container{
    background-color: #000033;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
    width: 50%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 12vh;
}

#left-column{
    color: wheat;
    width: 50%;
}

#logo-image{
    width: 300px;
    height: 300px;
    margin-top: 150px;
    margin-left: -70px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#right-column{
    color: wheat;
    width: -50%;
}

h1{
    font-size: 200%;
    margin: 0;
    margin-top: 100px;
    padding-top: 0;
    font-family: 'Brush Script MT', cursive;
}   