*{
    box-sizing: border-box;
}

body{
    background-color: #cceeff;
    overflow: hidden;
}

.login-container{
    background-color: #000033;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
    width: 50%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 12vh;
}

#left-column{
    color: wheat;
    width: 50%;
}

#logo-image{
    width: 300px;
    height: 300px;
    margin-top: 150px;
    margin-left: -20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#right-column{
    color: wheat;
    width: -50%;
}

h1{
    text-align: center;
    font-size: 200%;
    margin: 0;
    margin-right: 100px;
    margin-top: 200px;
    padding-top: 0;
    font-family: 'Brush Script MT', cursive;
}   

form{
    margin-top: 40px;
    margin-right: 10px;
    margin-left: -90px;
    text-align: left;
}

input[type="text"], input[type="password"] {
    margin-left: 5px;
    border: none;
    border-bottom: 2px solid wheat;
    background-color: transparent;
    color: white;
    width: 250px;
    outline: none;
}